pandas
numpy
scikit-learn
matplotlib
seaborn
jupyter
notebook
xgboost
lightgbm
catboost
mlxtend
scipy
statsmodels
plotly
plotly-express
plotly-plotly
plotly-plotly-express
plotly-plotly-plotly-express

